.icon-contact {
    background-color: transparent;
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

.footer {
     display: flex; 
    justify-content: space-between;
    background-color: rgb(140, 162, 228);
    padding: 1em 2em 0em 2em; 
    bottom: 0;
    left: 0;
}

#facebook {
    height: 7em;
    width: 7em;
}

#whatsapp {
    height: 4em;
    width: 4em;
    border-radius: 0%;
}

.adress{
    padding: 1em 0;
}