.main-page{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    background-color: #8da3e5;
}

.text{
    width: 350px;
    padding-top: 60px;
    margin-left: 140px;
}

h1{
    margin-top: -20px;
}

.btn-book{
    padding: 15px 60px;  
    border-radius: 30px;
    border: 2px solid transparent;
    background: #FFFFFF;
    color: #8da3e5;
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 1px;
    margin-top: 50px;
    cursor: pointer;
}

.woman{
    grid-column: 5 / span 2;
    grid-row: 1; 
}
