*{
  margin: 0;
  padding: 0;
}

.Header {
  margin: 10px 50px;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}

.Menu {
  display: flex;
  flex-direction: row;
  color: #593D3D
}

li{
  margin-left: 50px;
  list-style-type: none;
}

.signIn{
  margin-right: 40px;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  background-color: transparent;
}

.Description{
  margin: 10px 70px;
  padding: 30px 20px;
}
.Description h1{
  color: #FFD836;
}
.Description p{
  width: 400px;
  color: #593D3D
}

.book{
  margin: 40px auto;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: transparent;
}